

<app-project-list>
</app-project-list>


<div class="container-fluid">
    <section class="container">
		<div class="container-page">				
			<div class="col-md-6">
				<h3 class="dark-grey">Registro</h3>
				
				<div class="form-group col-lg-12">
					<label>Nombre de Usuario</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>
				
				<div class="form-group col-lg-6">
					<label>Contraseña</label>
					<input type="password" name="" class="form-control" id="" value="">
				</div>
				
				<div class="form-group col-lg-6">
					<label>Repetir contraseña</label>
					<input type="password" name="" class="form-control" id="" value="">
				</div>
								
				<div class="form-group col-lg-6">
					<label>Correo Electrónico</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>
				
				<div class="form-group col-lg-6">
					<label>Repetir Correo Electrónico</label>
					<input type="" name="" class="form-control" id="" value="">
				</div>			
				
				<div class="col-sm-6">
					<input type="checkbox" class="checkbox" />Suscríbete a nuestro boletín
				</div>

				<div class="col-sm-6">
					<input type="checkbox" class="checkbox" />Enviar notificaciones a este correo electrónico
				</div>				
			
			</div>
		
			<div class="col-md-6">
				<h3 class="dark-grey">Términos y Condiciones</h3>
				<p>
					Al hacer clic en "Registrarse", acepta los Términos y condiciones de la empresa.
				</p>
				
				
				<button type="submit" class="btn btn-primary">Registrarse</button>
			</div>
		</div>
	</section>
</div>